<h1 class="title">Venus Image Gallery</h1>
<div class="background-container">
  <div class="gallery-container">
    <div class="grid-container">
      {{#each venusPhotoData}}
        <div>
          {{#if ../isLoggedIn}}
            <i
              id="favorite-icon-{{data.0.nasa_id}}"
              class="bi bi-star-fill icon-white"
              onclick="saveFavorite(this, '{{data.0.nasa_id}}')"
            ></i>
          {{/if}}
          <a href="/library/{{data.0.nasa_id}}"><img
              class="img-gallery"
              src="{{links.0.href}}"
              alt="Venus Image"
            /></a>
          <h3>{{data.0.title}}</h3>
        </div>
      {{/each}}
    </div>
  </div>
</div>