<h1>Admin Settings</h1>
<div class="background-container">
  <div class="gallery-container">
    <h2 class="title">All created private Images</h2>

    <br />
    <div class="grid-container">

      {{#each allImages}}
        <form action="/private-library/delete/{{_id}}" method="post">
          <button class="delete-btn" type="submit">Delete Image</button>
        </form>
        <h3>{{name}}</h3>
        <h3>{{description}}</h3>
        <br />
        <img class="img-day" src="{{image}}" alt={{name}} />

        <div>

        </div>
      {{/each}}
    </div>
  </div>
</div>