<h1>Admin Settings</h1>
<div class="background-container">
  <div class="gallery-container">
    <h2 class="title">All created private Images</h2>
    <br />
    <div class="flex-container-admin">
      {{#each allImages}}
        <div class="admin-border">
          <h3>The Image is from UserId: {{user}}</h3>
          <h3>{{name}}</h3>
          <img class="img-day" src="{{image}}" alt={{name}} />
          <div class="background-container">
            <h2>Description:</h2>
            <h3>{{description}}</h3>
          </div>
          <form action="/admin/delete/{{_id}}" method="post">
            <button class="delete-btn-admin" type="submit">Delete Image</button>
          </form>
        </div>
      {{/each}}
    </div>
  </div>
</div>