<h1>Admin Settings</h1>
<div class="background-container">
  <div class="gallery-container">
    <h2 class="title">All created private Images</h2>
    <br />
    <div class="flex-container-admin">
      {{#each allImages}}
        <h3>{{name}}</h3>
        <img class="img-day" src="{{image}}" alt={{name}} />
        <div class="background-container">
          <h2>Description:</h2>
          <h3>{{description}}</h3>
        </div>
        <form action="/private-library/delete/{{_id}}" method="post">
          <button class="delete-btn" type="submit">Delete Image</button>
        </form>
      {{/each}}
    </div>
  </div>
</div>