<h1 class="title">Galaxy Evolution Explorer - GALEX</h1>
<h3 class="subtitle-text">The Galaxy Evolution Explorer was an orbiting space telescope designed to observe the universe in ultraviolet wavelengths to measure the history of star formation in the universe.</h3>
<div class="background-container">
  <div class="gallery-container">
    <div class="grid-container">
      {{#each galexPhotoData}}
        <div>
          {{#if ../isLoggedIn}}
            <i
              id="favorite-icon-{{data.0.nasa_id}}"
              class="bi bi-star-fill icon-white"
              onclick="saveFavorite(this, '{{data.0.nasa_id}}')"
            ></i>
          {{/if}}
          <a href="/library/{{data.0.nasa_id}}"><img
              class="img-gallery"
              src="{{links.0.href}}"
              alt="galex Image"
            /></a>
          <h3>{{data.0.title}}</h3>
        </div>
      {{/each}}
    </div>
  </div>
</div>