<div class="background-container">
  <h1>Mars Curiosity Gallery</h1>
  <div class="grid-container">
    {{#each marsPhotoData}}
      <div>
        <a href="/gallery/{{data.0.nasa_id}}"><img
            class="img-day"
            src="{{links.0.href}}"
            alt="Mars Rover Image"
          /></a>
        <h1>{{data.0.title}}</h1>
        <a href="/gallery/{{data.0.nasa_id}}">See more</a>
        <!-- ../ reach variable outside of #each-->
        {{#if ../isLoggedIn}}
          <form action="/profile/add-favorite" method="post">
            <button type="submit">Save as favorite</button>
            <input
              type="text"
              name="imageId"
              value="{{data.0.nasa_id}}"
              hidden="true"
            />
          </form>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
