{{! <h1>Hello Spacelover!</h1> }}

<div class="background-container">

  <h2 class="page-title"> Picture Of the day</h2>
  <h3 class="subtitle">Discover the cosmos!
    <br />
    Each day a different image or photograph of our fascinating universe is
    featured, along with a brief explanation written by a professional
    astronomer.</h3>

  <div class="flex-container">
    <div class="center-container">
      <img
        class="img-day"
        src="{{url}}"
        loading="lazy"
        alt="Picture of the day"
      />
    </div>
    <div class="text-container">
      <h2>{{title}}</h2>
      <h3>Date: {{date}}</h3>
      <p class="img-description">{{explanation}}</p>
    </div>
  </div>
</div>

<div class="background-container">
  <h2 class="page-title"> NASA Image Library</h2>
  <a class="library-link" href="/Library">Go to Library</a>
  <div class="grid-container">
    {{#each randomLibrary}}
      {{! do background image in a div}}
      <a href="/library/{{data.0.nasa_id}}"><img
          class="img-gallery"
          src="{{links.0.href}}"
          alt="Picture of the day"
        /></a>
    {{/each}}
  </div>
</div>

<div class="background-container">

  <h2 class="page-title"> Mars Curiosity</h2>
  <a href="/curiosity">Go to Gallery</a>
  <div class="grid-container">
    {{#each marsPhotoData}}
      <a href="/library/{{data.0.nasa_id}}"><img
          class="img-gallery"
          src="{{links.0.href}}"
          loading="lazy"
          alt="Mars Rover Image"
        /></a>
    {{/each}}
  </div>
  <h2 class="page-title">The Sun</h2>
  <a href="/curiosity">Go to Gallery</a>
  <div class="grid-container">
    {{#each sunPhotoData}}
      <a href="/library/{{data.0.nasa_id}}"><img
          class="img-gallery"
          src="{{links.0.href}}"
          loading="lazy"
          alt="Mars Rover Image"
        /></a>
    {{/each}}
  </div>
  <h2 class="page-title">The Moon</h2>
  <a href="/curiosity">Go to Gallery</a>
  <div class="grid-container">
    {{#each moonPhotoData}}
      <a href="/library/{{data.0.nasa_id}}"><img
          class="img-gallery"
          src="{{links.0.href}}"
          loading="lazy"
          alt="Mars Rover Image"
        /></a>
    {{/each}}
  </div>
  <h2 class="page-title">The Venus</h2>
  <a href="/curiosity">Go to Gallery</a>
  <div class="grid-container">
    {{#each venusPhotoData}}
      <a href="/library/{{data.0.nasa_id}}"><img
          class="img-gallery"
          src="{{links.0.href}}"
          loading="lazy"
          alt="Mars Rover Image"
        /></a>
    {{/each}}
  </div>
</div>