<div class="background-container">
  <div class="flex-container-column">
    <div class="flex-container-row">
      <div class="flex-container-column-day">
        <h1 class="title"> Picture Of the day</h1>
      </div>
      <div class="flex-container-column-day">
        <img
          class="img-day"
          src="{{url}}"
          loading="lazy"
          alt="Picture of the day"
        />
        <div class="text-container">
          <h2>{{title}}</h2>
          <h2>{{date}}</h2>
          <h3 class="img-description">{{explanation}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background-container">
  <div class="gallery-container">
    <h2> NASA Image Library</h2>
    <div class="grid-container">
      {{#each randomLibrary}}
        <a href="/library/{{data.0.nasa_id}}"><img
            class="img-gallery"
            src="{{links.0.href}}"
            alt="Picture of the day"
          /></a>
      {{/each}}
    </div>
    <br />
    <button type="button" class="btn btn-outline-secondary">
      <a href="/library">Go to Library</a>
    </button>
  </div>
</div>

<h1 class="title"> Image Galleries</h1>
<div class="background-container">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item">
        {{#each quizPhotoData}}
          <a href="/library/{{data.0.nasa_id}}">
            <img
              class="img-carousel"
              src="{{links.0.href}}"
              class="d-block w-100"
              alt="..."
            /></a>
        {{/each}}
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-outline-secondary">
            <a href="/quiz">Go to The Image Quiz Gallery </a>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        {{#each galexPhotoData}}
          <a href="/library/{{data.0.nasa_id}}">
            <img
              class="img-carousel"
              src="{{links.0.href}}"
              class="d-block w-100"
              alt="..."
            /></a>
        {{/each}}
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-outline-secondary">
            <a href="/galex">Go to The Galex Gallery </a>
          </button>
        </div>
      </div>

      <div class="carousel-item">
        {{#each sunPhotoData}}
          <a href="/library/{{data.0.nasa_id}}">
            <img
              class="img-carousel"
              src="{{links.0.href}}"
              class="d-block w-100"
              alt="..."
            /></a>
        {{/each}}
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-outline-secondary">
            <a href="/sun">Go to The Sun Gallery</a>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        {{#each moonPhotoData}}
          <a href="/library/{{data.0.nasa_id}}">
            <img
              class="img-carousel"
              src="{{links.0.href}}"
              class="d-block w-100"
              alt="..."
            /></a>
        {{/each}}
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-outline-secondary"><a
              href="/moon"
            >Go to The Moon Gallery</a>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        {{#each venusPhotoData}}
          <a href="/library/{{data.0.nasa_id}}">
            <img
              class="img-carousel"
              src="{{links.0.href}}"
              class="d-block w-100"
              alt="..."
            /></a>
        {{/each}}
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-outline-secondary">
            <a href="/venus">Go to The Venus Gallery</a>
          </button>
        </div>
      </div>
      <div class="carousel-item active">
        {{#each marsPhotoData}}
          <a href="/library/{{data.0.nasa_id}}">
            <img
              class="img-carousel"
              src="{{links.0.href}}"
              class="d-block w-100"
              alt="..."
            /></a>
        {{/each}}
        <div class="carousel-caption d-none d-md-block">
          <button type="button" class="btn btn-outline-secondary">
            <a href="/curiosity">Go to The Mars Curiosity Gallery</a>
          </button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>