<div class="center-container">
  <form class="search-form" action="/library/search" method="post">
    <input type="text" placeholder="Search.." name="keyword" />
    <button class="search-btn" type="submit">Search</button>
  </form>
</div>

<div class="background-container">

  <h1>Nasa Image Library</h1>
  <div class="grid-container">
    {{#each randomLibrary}}
      <div>
        <a href="/library/{{data.0.nasa_id}}"><img
            class="img-day"
            src="{{links.0.href}}"
            alt="Picture of the day"
          /></a>
        <h1>{{data.0.title}}</h1>
        <a class="link-button" href="/library/{{data.0.nasa_id}}">See more</a>
          {{#if ../isLoggedIn}}
          <form action="/favorites" method="post">
            <button type="submit">Save as favorite</button>
            <input
              type="text"
              name="imageId"
              value="{{data.0.nasa_id}}"
              hidden="true"
            />
          </form>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>