<h1 class="title">Mars Rover Curiosity Image Gallery</h1>
<h3 class="subtitle-text">Curiosity is a car-sized Mars rover designed to explore the Gale crater on Mars as part of NASA's Mars Science Laboratory (MSL) mission.</h3>
<div class="background-container">
  <div class="gallery-container">
    <div class="grid-container">
      {{#each marsPhotoData}}
        <div>
          {{#if ../isLoggedIn}}
            <i
              id="favorite-icon-{{data.0.nasa_id}}"
              class="bi bi-star-fill icon-white"
              onclick="saveFavorite(this, '{{data.0.nasa_id}}')"
            ></i>
          {{/if}}
          <a href="/library/{{data.0.nasa_id}}"><img
              class="img-gallery"
              src="{{links.0.href}}"
              alt="Mars Rover Image"
            /></a>
          <h3>{{data.0.title}}</h3>
        </div>
      {{/each}}
    </div>
  </div>
</div>