<div class="background-img">
  <div class="background-container">
    <h2>{{imageData.name}}</h2>
    <div>
      {{#if imageData.image}}
        <img
          class="detailed-created-img"
          src="{{imageData.image}}"
          alt={{imageData.name}}
        />
      {{/if}}
      <div>
        <br />
        <h4><strong>Description :</strong></h4>
        <p class="img-description">{{imageData.description}}</p>
      </div>
    </div>
    <div>
      <button class="default-btn">
        <a href="/private-library/edit/{{imageData._id}}">Edit Image</a></button>
      <div>
        <form action="/private-library/delete/{{imageData._id}}" method="post">
          <button class="delete-btn" type="submit">Delete Image</button>
        </form>
      </div>
    </div>
  </div>
</div>
