<div class="background-container">
  <h2>{{imageData.name}}</h2>

  <div>
    {{#if imageData.image}}
      <img src="{{imageData.image}}" alt={{imageData.name}} />
    {{/if}}

    <div>
      <h2><strong>Description</strong></h2>
      <p class="img-description">{{imageData.description}}</p>
    </div>

  </div>

  <div>
    <a href="/private-library/edit/{{imageData._id}}">edit movie</a>
    <div>
      <form action="/private-library/delete/{{imageData._id}}" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>