<div class="background-img">
  <h1 class="profile-title"> Welcome to your profile !</h1>

  <div class="background-container">
    <h2 class="title"> Your Private Library</h2>
    <div class="gallery-container">
      <br />
      <div class="flex-container-column">
        {{#if allImages.0.image}}
          <a href="/private-library/{{allImages.0._id}}">
            <img
              class="private-img"
              src="{{allImages.0.image}}"
              alt={{allImages.0.title}}
            />
          </a>
        {{/if}}
        <h2>{{allImages.0.name}}</h2>
      </div>
      <br />
      <button type="button" class="btn btn-outline-secondary">
        <a href="/private-library">Go to Library
        </a>
      </button>
      <br />
      <br />
      <button type="button" class="default-btn">
        <a href="/private/create">Add your own image</a>
      </button>
    </div>

  </div>
  <div class="background-container">
    <h2 class="title"> Your Favorites</h2>
    {{#if firstFavorite}}

      <div class="gallery-container">
        <div class="flex-container-column">
          <a href="/favorites"><img
              class="img-gallery"
              src="{{firstFavorite.0.links.0.href}}"
              alt=""
            /></a>
        </div>
        <br />
        <button type="button" class="btn btn-outline-secondary">
          <a href="/favorites">Go to Library</a>
        </button>
      </div>
    {{/if}}
  </div>
</div>